.menu{
    text-align: center;
    background-color: blanchedalmond;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 0px;
}
ul{
    display: flex;
    list-style-type: none;
}
ul li{
    margin-right: 25px;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}
.logo-image{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo-image img{
    height: 70px;

}