.footer{
    background-color: black;
    padding: 40px;
    color:white;
    margin-top: 100px;
}
.footer-main{
    display: flex;
    justify-content: space-between;
}
.single-div{
    width: 25%;
}
.gallery{
    display: flex;
}
.footer-header{
    margin-bottom: 30px;
    color: blue;
}